<div class="background" style="background-image: linear-gradient(rgba(0,0,0,1.5), rgba(0,0,0,0.7)), url('http://www.harbourviewhotelmacau.com/sites/default/files/praha_bar_3custom_0.jpg'); background-size: cover; height: 100vh;">
  <%= simple_form_for [@cocktail, @] do |f| %>
    <%= f.label %>
    <%= f.input :name %>
    <%= f.submit "add a review", class: "btn btn-primary" %>
  <% end %>
</div>
