
<div>
  <div class="col-xs-12 cocktail-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dpqnck1ln/image/upload/c_fill,h_150,w_250/v1478872860/wpxdlcnfskixssmhbdjg.jpg'); background-size: cover; height: 40vh; width: 60vw;">
  </div>
  <%= @cocktail.name%>
</div>
