
.container {
font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 72px;
}

.cards {
/*  margin: 0 auto;*/
  display: flex;
  justify-content: center;
}


.row {
  .col-sm-12 {
    text-align: center;
  }
}

.card {
  border-radius: 5px;
  height: 175px;
  width: 285px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  transition: all 0.5s !important;
  margin: 20px auto;
  opacity: 0.9;
}

.card:hover {
  transform: scale(1.02) !important;
  opacity: 1;
}

.card-description {
  position: absolute;
  top: 10px;
  left: 20px;
}

.cockatil-img {

}
